@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #867070;
    --primary-color: #F5EBEB;
}

body { 
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 { 
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    margin-top: 1.2rem;
}

.mensagem { 
    font-size: 2rem;
    margin-top: 6rem;
}

.box {
   border: .2rem solid var(--primary-color); 
   display: inline-block;
   font-size: 4rem;
   padding: 1rem;
   margin: 2rem;
}

.btn-jogar {
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: #222222;
    border-radius: 5px;
    margin-top: 4rem;
    border: .1rem solid transparent;
    cursor: pointer;
}
.btn-jogar:hover {
    background-color: transparent;
    border: .1rem solid var(--primary-color);
    color: var(--primary-color);
    
}